@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Love+Light&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --light-colour: 251, 248, 247; /* #F6F2EF light braun */
  --dark-colour: 93, 64, 50; /* #5D4032 dark  braun */
  --light-call-to-action: 251, 248, 247; /* #F6F2EF used as light gradient*/
  --dark-call-to-action: 183, 145, 123; /* #CAB2B0 used as dark gradient*/
  --overlay: 183, 145, 123, 0.5; /* #CAB2B0 used as dark gradient*/
  --shadow-color: 15deg 10% 60%;
  --shadow-elevation-low: -0.1px 0.6px 0.7px hsl(var(--shadow-color) / 0.35),
    -0.1px 1.1px 1.2px -1.2px hsl(var(--shadow-color) / 0.35),
    -0.2px 2.6px 2.9px -2.5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: -0.1px 0.6px 0.7px hsl(var(--shadow-color) / 0.37),
    -0.2px 2.1px 2.4px -0.8px hsl(var(--shadow-color) / 0.37),
    -0.5px 5.4px 6.1px -1.7px hsl(var(--shadow-color) / 0.37),
    -1.2px 13.1px 14.8px -2.5px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-high: -0.1px 0.6px 0.7px hsl(var(--shadow-color) / 0.49),
    -0.4px 4.1px 4.4px -0.4px hsl(var(--shadow-color) / 0.48),
    -0.7px 7.6px 8.2px -0.7px hsl(var(--shadow-color) / 0.46),
    -1.1px 12.4px 13.4px -1.1px hsl(var(--shadow-color) / 0.45),
    -1.8px 19.5px 21px -1.4px hsl(var(--shadow-color) / 0.44),
    -2.7px 30px 32.3px -1.8px hsl(var(--shadow-color) / 0.42),
    -4.1px 45px 48.5px -2.1px hsl(var(--shadow-color) / 0.41),
    -6px 65.5px 70.5px -2.5px hsl(var(--shadow-color) / 0.4),
    -8.5px 92.6px 99.7px -2.8px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-high-up: -0.5px -0.1px 0.6px hsl(var(--shadow-color) / 0.34),
    -3.2px -0.8px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    -5.9px -1.5px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    -9.7px -2.5px 11.3px -1.1px hsl(var(--shadow-color) / 0.34),
    -15.4px -4px 17.9px -1.4px hsl(var(--shadow-color) / 0.34),
    -24.2px -6.2px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    -36.7px -9.5px 42.6px -2.1px hsl(var(--shadow-color) / 0.34),
    -54.1px -14px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* Buttons font */
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Title font */
.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.img-shadow {
  box-shadow: var(--shadow-elevation-high);
}

.img-shadow-up {
  box-shadow: var(--shadow-elevation-high-up);
}

/* Setting the main font colour to dark */
body * {
  color: rgb(var(--dark-colour));
}

.my-bg-light {
  background-color: rgb(var(--light-colour));
}

.my-bg-light-transparent {
  background-color: rgba(var(--light-colour), 0.8);
}

.my-overlay-transparent {
  background-color: rgba(var(--dark-call-to-action), 0.4);
}

.border-dark {
  border-color: rgb(var(--dark-call-to-action));
}

.dark-call-to-action-text-colour {
  color: rgb(var(--dark-call-to-action));
}
.my-text-light {
  color: rgb(var(--light-colour));
}

.dark-text-color {
  color: rgb(var(--dark-colour));
}

.oval-shape {
  border-radius: 50%;
}

.object-border {
  border: 2px solid rgb(var(--overlay));
}

.main-button-gradient {
  background-image: linear-gradient(
    90deg,
    hsl(26deg 28% 95%) 0%,
    hsl(20deg 26% 93%) 6%,
    hsl(16deg 24% 92%) 13%,
    hsl(14deg 23% 90%) 21%,
    hsl(12deg 23% 88%) 29%,
    hsl(10deg 22% 86%) 39%,
    hsl(9deg 21% 85%) 51%,
    hsl(8deg 21% 83%) 62%,
    hsl(7deg 21% 81%) 71%,
    hsl(6deg 20% 79%) 79%,
    hsl(6deg 20% 78%) 87%,
    hsl(5deg 20% 76%) 93%,
    hsl(5deg 20% 74%) 100%
  );
}

.main-button-gradient:hover {
  background-image: linear-gradient(
    270deg,
    hsl(26deg 28% 95%) 0%,
    hsl(20deg 26% 93%) 6%,
    hsl(16deg 24% 92%) 13%,
    hsl(14deg 23% 90%) 21%,
    hsl(12deg 23% 88%) 29%,
    hsl(10deg 22% 86%) 39%,
    hsl(9deg 21% 85%) 51%,
    hsl(8deg 21% 83%) 62%,
    hsl(7deg 21% 81%) 71%,
    hsl(6deg 20% 79%) 79%,
    hsl(6deg 20% 78%) 87%,
    hsl(5deg 20% 76%) 93%,
    hsl(5deg 20% 74%) 100%
  );
}

.gradient-text {
  background: linear-gradient(
    1deg,
    hsl(5deg 20% 74%) 0%,
    hsl(7deg 18% 70%) 21%,
    hsl(9deg 17% 66%) 38%,
    hsl(10deg 16% 62%) 50%,
    hsl(12deg 16% 58%) 60%,
    hsl(13deg 15% 54%) 68%,
    hsl(14deg 14% 50%) 74%,
    hsl(15deg 16% 46%) 80%,
    hsl(16deg 18% 43%) 85%,
    hsl(17deg 20% 39%) 89%,
    hsl(18deg 23% 35%) 93%,
    hsl(19deg 26% 32%) 97%,
    hsl(20deg 30% 28%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-light {
  background: linear-gradient(
    180deg,
    hsl(26deg 28% 95%) 0%,
    hsl(20deg 26% 93%) 6%,
    hsl(16deg 24% 92%) 13%,
    hsl(14deg 23% 90%) 21%,
    hsl(12deg 23% 88%) 29%,
    hsl(10deg 22% 86%) 39%,
    hsl(9deg 21% 85%) 51%,
    hsl(8deg 21% 83%) 62%,
    hsl(7deg 21% 81%) 71%,
    hsl(6deg 20% 79%) 79%,
    hsl(6deg 20% 78%) 87%,
    hsl(5deg 20% 76%) 93%,
    hsl(5deg 20% 74%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.test {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23FBF8F7"><path d="M1000 100C500 100 500 64 0 64V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 34 0 34V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 4 0 4V0h1000v100Z"></path></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23FBF8F7"><path d="M1000 100C500 100 500 64 0 64V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 34 0 34V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 4 0 4V0h1000v100Z"></path></svg>');
  mask-repeat: no-repeat;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative; /* Required for absolute positioning of CSV elements */
  overflow: hidden; /* Clip overflowing content */
  background-color: #aa8b6f;
  mask-image: linear-gradient(to bottom, #f6f2ef 70%, transparent);
}

.csv-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures full width coverage */
  height: 50px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23FBF8F7"><path d="M1000 100C500 100 500 64 0 64V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 34 0 34V0h1000v100Z" opacity=".5"></path><path d="M1000 100C500 100 500 4 0 4V0h1000v100Z"></path></svg>')
    no-repeat;
  background-size: cover; /* Scales the SVG to fill the element */
}

.fade-img {
  mask-image: linear-gradient(to bottom, #f6f2ef 70%, transparent);
}

.csv-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensures full width coverage */
  height: 50px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23F6F2EF"><path d="M0 0v99.7C62 69 122.4 48.7 205 66c83.8 17.6 160.5 20.4 240-12 54-22 110-26 173-10a392.2 392.2 0 0 0 222-5c55-17 110.3-36.9 160-27.2V0H0Z" opacity=".5"></path><path d="M0 0v74.7C62 44 122.4 28.7 205 46c83.8 17.6 160.5 25.4 240-7 54-22 110-21 173-5 76.5 19.4 146.5 23.3 222 0 55-17 110.3-31.9 160-22.2V0H0Z"></path></svg>')
    no-repeat;
  background-size: cover; /* Scales the SVG to fill the element */
}
